body {
    margin: 0px;
}

.header {
background-color: red;
color: #fff;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

.footer > a{
    
    font-size:3vh;
    padding-right: 70px;   
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

  .nav {
   
    justify-content: space-between;
    padding: 15px;
    background-color: #CFB997;
}

.nav-title{
    height: 70px;
    width: 300px;
    
}

.nav-title > h1{
    font-size: xx-large;
    margin: 20vh;
    position:absolute;
    top: -18vh;
    left: -12vh;
}

.nav-title > h2{
    font-size: x-large;
    font-weight: bolder;
    margin: 20vh;
    position:absolute;
    top: -13vh;
    right: 1vh;
    color:black;
}

.ul-nav-row{
    justify-content: space-around;
    list-style-type: none;
    width:400px;
    position:relative;
    right: 5vh;
}

.ul-nav-row > a{
   color:black;
   font-weight: bold;
}


.footer > a{
    
    font-size:3vh;
    padding-right: 70px; 
    color: white;  
}

.imagefit{
    width:50vh;
    height:25vh;
    box-shadow:10px 10px 10px  rgb(107, 107, 107);
}

.imagefit:hover{
    width:51vh;
    height:26vh; 
}

.box-1{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap;
    margin:5vh; 
}

.box-1 > img{
    display:flex;
    flex-wrap: wrap;   
}

.box-2{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-2 > img{
    display:flex;
    flex-wrap: wrap;
}

.box-3{
    width: 50vh;
    height: 25vh;
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-3 > img{
    display:flex;
    flex-wrap: wrap;
}

.box-4{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-4 > img{
    display:flex;
    flex-wrap: wrap;
}

#aboutme{
    
    font-size:xx-large;
    font-weight:bolder;
    text-align: center;
}

.aboutme-p{   
    font-size:large;
}

#aboutmeimg{
    
    width:80vh;
    height:auto; 
    margin: 5vh;
}

.mainitems{
    display: flex;
    align-items: center;
    justify-content: center

}

#homebrewimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#breweriesimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#questionsimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#scoreimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#openpromptimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#generatedimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#calendarimg1{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#calendarimg2{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

@media screen and (max-width: 992px) {
    .header {
      background: #772014;
    }
  }

  @media screen and (max-width: 540px) {
    .ul-nav-row{
        justify-content: space-around;
        list-style-type: none;
        width:350px;
        position:relative;
        left: 5vh;
    }
  }

  @media screen and (max-width: 320px) {
    .ul-nav-row{
        justify-content: space-around;
        list-style-type: none;
        width:320px;
        position:relative;
        left: 5vh;
    }
  }