body {
    margin: 0px;
}

.header {
background-color: red;
color: rgb(0, 0, 0);
box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

}

/* .header {
    background-color: red;
    color: #fff;
    } */

.footer{
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    position: sticky;
  top: 100vh;
}

.footer > a{
    
    font-size:3vh;
    padding-right: 70px;   
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

  .nav {
   
    justify-content: space-between;
    padding: 15px;
    background-color: #CFB997;
}

.nav-title{
    height: 70px;
    width: 300px;
    
}

.nav-title > h1{
    font-size: xx-large;
    margin: 20vh;
    position:absolute;
    top: -18vh;
    left: -12vh;
}

.nav-title > h2{
    font-size: x-large;
    font-weight: bolder;
    margin: 20vh;
    position:absolute;
    top: -13vh;
    right: 1vh;
    color:black;
}

.ul-nav-row{
    justify-content: space-around;
    list-style-type: none;
    width:400px;
    position:relative;
    right: 5vh;
}

.ul-nav-row > a{
   color:black;
   font-weight: bold;
}


.footer > a{
    
    font-size:3vh;
    padding-right: 70px; 
    color: white;  
}

.imagefit{
    width:50vh;
    height:25vh;
    box-shadow:10px 10px 10px  rgb(107, 107, 107);
}

.imagefit:hover{
    width:51vh;
    height:26vh; 
}

.col{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap;
    margin:5vh; 
}

.col > img{
    display:flex;
    flex-wrap: wrap;   
}

.box-title {
    width: 50vh;
    /* height: 3vh; */
    font-size: large;
    font-weight: bold;
    color:rgb(247, 241, 241);
}
/* .box-2{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-2 > img{
    display:flex;
    flex-wrap: wrap;
}

.box-3{
    width: 50vh;
    height: 25vh;
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-3 > img{
    display:flex;
    flex-wrap: wrap;
}

.box-4{
    width: 50vh;
    height: 25vh; 
    display:flex;
    flex-wrap: wrap; 
    margin:5vh;   
}

.box-4 > img{
    display:flex;
    flex-wrap: wrap;
} */

#aboutme{
    
    font-size:xx-large;
    font-weight:bolder;
    text-align: center;
    position:relative;
    color: beige;
}

.aboutme-p{   
    
    display:flex;
    flex-wrap: wrap;
    font-size:large;
    color: beige;
    font-weight: bold;
    
}

#aboutmeimg{
    
    width:80vh;
    height:auto; 
    margin: 5vh;

}

.mainitems{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

}

#homebrewimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#breweriesimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#questionsimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#scoreimg{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#openpromptimg{
    
    display: flex;
    flex-wrap: wrap;
    width:40vh;
    height:auto; 
    margin: 5vh;
}

#generatedimg{
    
    display: flex;
    flex-wrap: wrap;
    width:40vh;
    height:auto; 
    margin: 5vh;
}

/* #calendarimg1{
    

    width:40vh;
    height:auto; 
    margin: 5vh;
}

#calendarimg2{
    
    width:40vh;
    height:auto; 
    margin: 5vh;
} */

.background-image {
    background-image:url(./Images/wood2.jpg);
    background-size: cover;
    background-attachment:fixed;  
}

.background-image2 {
    position: relative;
    background-size: cover;
    height: 100%;
}

    .background-image2::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image:url(./Images/wood2.jpg);
        background-size: cover;
        background-attachment:fixed;
        opacity: 0.9;
        height: 100%;
   
    }

    .background-image3 {
        position: relative;
        background-size: cover;
        height: 100%;
    }
    
        .background-image3::before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-image:url(./Images/wall.jpg);
            background-size: cover;
            background-attachment:fixed;
            opacity: 0.7;
            height: 100%;
       
        }

.header-image{
    position: relative;
    
}

.header-image::before{
    position: relative;
    content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image:url(./Images/granite.jpg);
        background-size: cover;
        background-attachment:fixed;
        opacity: 0.9;
        height: 100%;
        
}

/* .header-image2{
    position: relative;
    
}

.header-image2::before{
    position: relative;
    content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image:url(./Images/wood.jpg);
        background-size: cover;
        background-attachment:fixed;
        opacity: 0.6;
        height: 100%;
        
} */

@media screen and (max-width: 992px) {
    .header {
      background: #772014;
    }

    .mainitems{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
        background: #13293d;
        color: #fff;
    }
  }

  @media screen and (max-width: 540px) {
    .ul-nav-row{
        justify-content: space-around;
        list-style-type: none;
        width:350px;
        position:relative;
        left: 5vh;
    }

    .mainitems{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
        background: #13293d;
        color: #fff;
    }
  }

  @media screen and (max-width: 320px) {
    .ul-nav-row{
        justify-content: space-around;
        list-style-type: none;
        width:320px;
        position:relative;
        left: 5vh;
    }

    .mainitems{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
        background: #13293d;
        color: #fff;
    }
  }